<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.uoscs09.theuos2"
    android:versionCode="2"
    android:versionName="@string/setting_app_version_desc">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <uses-permission android:name="android.permission.WRITE_CALENDAR"/>
    <uses-permission android:name="android.permission.READ_CALENDAR"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:name="com.uoscs09.theuos2.common.UOSApplication"
        android:label="@string/app_name">
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_map_v2_api_key" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.sec.android.support.multiwindow"
            android:value="true" />

        <activity
            android:name="com.uoscs09.theuos2.TitleActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Title">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.uoscs09.theuos2.UosMainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name="com.uoscs09.theuos2.tab.phonelist.PhoneListWebActivity" />
        <activity android:name="com.uoscs09.theuos2.tab.map.SubMapActivity" />
        <activity android:name="com.uoscs09.theuos2.tab.anounce.SubAnounceWebActivity" />
        <activity
            android:name="com.uoscs09.theuos2.setting.SettingActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:uiOptions="splitActionBarWhenNarrow" />
        <activity android:name="com.uoscs09.theuos2.tab.libraryseat.SubSeatWebActivity" />

        <activity android:name="com.uoscs09.theuos2.TestActivity" />

        <service
            android:name="com.uoscs09.theuos2.appwidget.timetable.Widget5x4ListService"
            android:exported="true"
            android:label="@string/widget_timetable"
            android:permission="android.permission.BIND_REMOTEVIEWS" />
        <service
            android:name="com.uoscs09.theuos2.appwidget.timetable.Widget4x4ListService"
            android:exported="true"
            android:label="@string/widget_timetable"
            android:permission="android.permission.BIND_REMOTEVIEWS" />
        <service
            android:name="com.uoscs09.theuos2.appwidget.restaurant.RestListService"
            android:exported="true"
            android:label="@string/widget_rest"
            android:permission="android.permission.BIND_REMOTEVIEWS" />
        <service
            android:name="com.uoscs09.theuos2.appwidget.libraryseat.LibrarySeatListService"
            android:exported="true"
            android:label="@string/widget_library_seat"
            android:permission="android.permission.BIND_REMOTEVIEWS" />
        <service
            android:name="com.uoscs09.theuos2.tab.anounce.ServiceForAnnounce"
            android:label="@string/setting_announce_noti" />

        <receiver android:name="com.uoscs09.theuos2.service.BReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <action android:name="android.intent.action.PACKAGE_REPLACED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.uoscs09.theuos2.tab.timetable.TimeTableNotiReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.uoscs09.theuos2.tab.timetable.set_alarm" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.uoscs09.theuos2.appwidget.timetable.TimeTableWidget4x4"
            android:label="@string/widget_timetable4x4">
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_conf_timetable_4x4" />

            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.uoscs09.theuos2.widget.timetable.refresh" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.ACTION_EXTERNAL_APPLICATION_AVAILABLE" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.uoscs09.theuos2.appwidget.timetable.TimeTableWidget5x4"
            android:label="@string/widget_timetable5x4">
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_conf_timetable_5x4" />

            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.uoscs09.theuos2.widget.timetable.refresh" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.ACTION_EXTERNAL_APPLICATION_AVAILABLE" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.uoscs09.theuos2.appwidget.restaurant.RestWidget"
            android:label="@string/widget_rest_desc">
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_conf_rest" />

            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.uoscs09.theuos2.widget.restaurant.RestWidget.NEXT_ACTION" />
                <action android:name="com.uoscs09.theuos2.widget.restaurant.RestWidget.PREV_ACTION" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.ACTION_EXTERNAL_APPLICATION_AVAILABLE" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.uoscs09.theuos2.appwidget.libraryseat.LibrarySeatWidget"
            android:label="@string/widget_library_seat_desc">
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_conf_library_seat" />

            <intent-filter>
                <action android:name="com.uoscs09.theuos2.widget.libraryseat.REFRESH" />
                <action android:name="com.uoscs09.theuos2.widget.libraryseat.ACTIVITY" />
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
