<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.uoscs09.theuos2"
    android:versionCode="3"
    android:versionName="@string/setting_app_version_name">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <!--
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    -->

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:name=".UOSApplication"
        android:label="@string/app_name">

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_map_v2_api_key" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="com.sec.android.support.multiwindow"
            android:value="true" />

        <activity
            android:name=".TitleActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Title">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".UosMainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />

        <!--
        <activity android:name=".tab.phonelist.PhoneListWebActivity" />
        -->

        <activity android:name=".tab.map.GoogleMapActivity" />

        <activity android:name=".tab.announce.SubAnnounceWebActivity" />

        <activity
            android:name=".setting.SettingActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:uiOptions="splitActionBarWhenNarrow" />

        <activity android:name=".tab.libraryseat.SubSeatWebActivity" />

        <!--
        <activity android:name=".TestActivity" />
        -->

        <service
            android:name=".appwidget.timetable.Widget5x4ListService"
            android:exported="true"
            android:label="@string/widget_timetable"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <service
            android:name=".appwidget.timetable.Widget4x4ListService"
            android:exported="true"
            android:label="@string/widget_timetable"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <service
            android:name=".appwidget.restaurant.RestListService"
            android:exported="true"
            android:label="@string/widget_rest"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <service
            android:name=".appwidget.libraryseat.LibrarySeatListService"
            android:exported="true"
            android:label="@string/widget_library_seat"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <!--
        <service
            android:name="com.uoscs09.theuos2.tab.announce.ServiceForAnnounce"
            android:label="@string/setting_announce_noti" />
        -->

        <!--
        <receiver
            android:name=".tab.timetable.TimeTableNotificationReceiver"
            android:exported="false"
            android:enabled="false">
            <intent-filter>
                <action android:name="com.uoscs09.theuos2.tab.timetable.set_alarm" />

                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <action android:name="android.intent.action.PACKAGE_REPLACED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        -->

        <receiver
            android:name=".appwidget.timetable.TimeTableWidget4x4"
            android:label="@string/widget_timetable4x4"
            android:exported="false">
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_conf_timetable_4x4" />

            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.uoscs09.theuos2.widget.timetable.refresh" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.ACTION_EXTERNAL_APPLICATION_AVAILABLE" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".appwidget.timetable.TimeTableWidget5x4"
            android:label="@string/widget_timetable5x4"
            android:exported="false">
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_conf_timetable_5x4" />

            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.uoscs09.theuos2.widget.timetable.refresh" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.ACTION_EXTERNAL_APPLICATION_AVAILABLE" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".appwidget.restaurant.RestWidget"
            android:label="@string/widget_rest_desc"
            android:exported="false">
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_conf_rest" />

            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.uoscs09.theuos2.widget.restaurant.RestWidget.NEXT_ACTION" />
                <action android:name="com.uoscs09.theuos2.widget.restaurant.RestWidget.PREV_ACTION" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.ACTION_EXTERNAL_APPLICATION_AVAILABLE" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".appwidget.libraryseat.LibrarySeatWidget"
            android:label="@string/widget_library_seat_desc"
            android:exported="false">
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_conf_library_seat" />

            <intent-filter>
                <action android:name="com.uoscs09.theuos2.widget.libraryseat.REFRESH" />
                <action android:name="com.uoscs09.theuos2.widget.libraryseat.ACTIVITY" />
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
